.admin-review-management-container {
  width: 100%;
  height: 100%;
}

.admin-review-management-product-image {
  width: 28px;
  aspect-ratio: 1/1;
}

.admin-review-modal-close-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.admin-review-modal-close-btn-wrapper svg {
  cursor: pointer;
}

.admin-review-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.review-user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.review-product-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.review-modal-product-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.review-meta-info {
  margin-top: 10px;
}
