/* .coupon-offer-form-container {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
} */

.coupon-offer-form-header {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.coupon-offer-form-header button {
  width: fit-content;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: white;
  font-weight: 600;
  cursor: pointer;
  text-wrap: nowrap;
  padding: 0.5rem 1rem;
}

.coupon-offer-form-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.coupon-offer-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.coupon-offer-row {
  display: flex;
  gap: 16px;
  /* flex-wrap: wrap; */
}

.coupon-offer-row input,
.coupon-offer-row select,
.coupon-offer-row textarea {
  flex: 1;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}
.coupon-offer-row textarea::placeholder,
.coupon-offer-row input::placeholder,
.coupon-offer-row select::placeholder {
  color: gray;
}
textarea {
  resize: vertical;
  min-height: 60px;
}

.coupon-offer-date-time {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.coupon-offer-date-time label {
  font-size: 13px;
  color: #555;
  margin-bottom: 4px;
}

.coupon-offer-date-time input {
  margin-bottom: 6px;
}

.coupon-offer-submit-btn,
.coupon-offer-cancel-btn {
  padding: 12px 20px;
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
}

.coupon-offer-submit-btn:hover {
  background-color: var(--secondary-color);
}

.coupon-offer-input-wrapper {
  width: 100%;
}
.coupon-offer-input-wrapper input,
.coupon-offer-input-wrapper select {
  width: 100%;
}
.coupon-offer-error {
  color: red;
  font-size: 12px;
}
.coupon-offer-btn-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.coupon-offer-cancel-btn {
  color: white;
  background-color: gray;
}
