.forget-password-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f7f9fc;
  padding: 20px;
  min-height: 27rem;
}

.forget-password-box {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  max-width: 420px;
  width: 100%;
  text-align: center;
}

.forget-password-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.forget-password-subtext {
  font-size: 14px;
  margin-bottom: 30px;
  color: #666;
}

.forget-password-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.forget-password-input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.forget-password-submit {
  background-color: var(--secondary-color);
  color: white;
  font-size: 16px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.back-to-login {
  margin-top: 20px;
  font-size: 14px;
}

.back-to-login a {
  color: #000;
  text-decoration: none;
}

.forget-error-message {
  color: red;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;
}

.change-password-container {
  /* min-height: 100vh; */
  background-color: #f7f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}

.change-password-box {
  background-color: white;
  padding: 40px;
  max-width: 420px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.change-password-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  color: #333;
}

.change-password-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.change-password-input {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.change-password-submit {
  padding: 12px;
  font-size: 16px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

/* .error-message {
  font-size: 13px;
  color: red;
  margin-top: -10px;
  margin-bottom: -10px;
} */

/* otp section*/
.otp-form-main-container {
  width: 100%;
  height: 100%;
  min-height: 27rem;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.otp-form-inner-container {
  width: 40%;
  height: 15rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.otp-form-inner-container .info-text {
  font-size: 14px;
}
.otp-form-submit-btn {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  border: none;
  background-color: var(--secondary-color);
  cursor: pointer;
}
.otp-form-title {
  font-size: 24px;
  font-weight: 500;
}
